@page
@model Tracking_Tool_System.Pages.User.EditModel

@{
    ViewData["Title"] = "Editar Usuario";
}

<section class="content-header">
    <div class="container-fluid">
        <h1>Modificar Usuario</h1>
    </div>
</section>

<section class="content">
    <div class="container-fluid">

        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Modificar</h3>
            </div>

            <form method="post">
                <div class="card-body">

                    <input type="hidden" asp-for="UserID" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label>Usuario</label>
                        <input asp-for="Username" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Nombre</label>
                        <input asp-for="EmpName" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Estado</label>
                        <select asp-for="UserStatus" class="form-control">
                            <option value="true">Activo</option>
                            <option value="false">Inactivo</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Tipo de Rol</label>
                        <select asp-for="RolID" class="form-control">
                            <option value="">Seleccione un rol</option>
                            @foreach (var rol in Model.Roles)
                            {
                                <option value="@rol.RolID">@rol.RolType</option>
                            }
                        </select>
                    </div>

                    <br />
                </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-warning">Actualizar</button>
                            <a asp-page="/User/User_List" class="btn btn-secondary">Cancelar</a>
                        </div>
            </form>
        </div>
    </div>
</section>