@page
@model Tracking_Tool_System.Pages.Rol.EditModel

@{
    ViewData["Title"] = "Editar Rol";
}

<section class="content-header">
    <div class="container-fluid">
        <h1>Modificar Rol</h1>
    </div>
</section>

<section class="content">
    <div class="container-fluid">

        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Modificar</h3>
            </div>

            <form method="post">
                <div class="card-body">

                    <input type="hidden" asp-for="RolID" />

                    <div class="form-group">
                        <label>Tipo de Rol</label>
                        <input asp-for="RolType" class="form-control" disabled />
                        <input type="hidden" asp-for="RolType" />
                    </div>

                    <div class="form-group">
                        <label>Descripción</label>
                        <input asp-for="RolDescription" class="form-control" disabled />
                        <input type="hidden" asp-for="RolDescription" />
                    </div>              

                    <div class="form-group">
                        <label>Estado</label>
                        <select asp-for="RolStatus" class="form-control">
                            <option value="true">Activo</option>
                            <option value="false">Inactivo</option>
                        </select>
                    </div>

                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-warning">Actualizar</button>
                    <a asp-page="/Rol/Rol_List" class="btn btn-secondary">Cancelar</a>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </form>

        </div>

    </div>
</section>
