@{
    Layout = "_LoginLayout";

}
<!DOCTYPE html>
<html>
<head>
    <title>Molding Tracking Tool</title>
</head>
<body>

    <header>
        <h2>Molding Tracking Tool</h2>
    </header>

    @RenderBody()

</body>
</html>