<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        CRM Site
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2026 <a href="https://portal.icumed.com/Pages/Default.aspx">ICU Medical</a>.</strong> All rights reserved.
</footer>